@use 'base';

body, .flexcontainer {
    margin: 0;
    padding: 0;
    background-color: base.$mygray;
 }
 .flexcontainer {
    display: flex;
    width: 100%;
    height: 100vh;
    align-content: center;
 }
 .container1, .container2, .cards, .blackheader, .overview, .blackcard, .greencard, .stat, .gcardbot, .gcardtext, {
    margin: base.$spacing;
    border-radius: base.$radius;
 }
 .container1, .stat, .split1, .blackcard, .greencard, .botboxsmall, .smalltop, .smallbot, .botboxmain, .split2, .bottom, .top, .stat3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }
.stat, .split2, .split1, .top, .bottom, .botboxmain, .botboxsmall, .smalltop, .smallbot {
    border-radius: base.$radius;
    
 }
 .blackcard, .container1, .top, .bottom, .split1 {
    background-color: base.$myblack;
    color: base.$mywhite; 
 }
 .container1 {
    width: 25vw;
    max-width: 20em;
    margin-right: 0;
    .c1head {
        width: 97%;
        height: 50%;
        .logo {
            width: 100%;
            height: 20%;
        }
        .dashboard {
            width: 97%;
            height: 76%;
        }    
    }
   .profile {
    width: 97%;
    height: 30%;
   }

 }
 .container2 {
    width: 100%;
    margin: 0;
    .cards {
        margin: 0;
        width: 99%;
        height: 35%;
        display: flex;
        .blackcard, .greencard {
            width: 50%;
        }
        .blackcard {
            text-align: center;
            .center {
                color: base.$mygreen;
                font-size: 4em;
                height: 70%;
            }
        }
        .greencard {
            background-color: base.$mygreen;
            .order {
                background-color: base.$myblack;
                color: base.$mygreen;
                padding: base.$spacing;
                border-radius: base.$spacing;
                font-size: small;
 
            }
        }
     }
     .overview {
        width: 99%;
        display: flex;
        margin-bottom: 0;
        margin-top: 0;
        color: base.$mywhite;
        .ot1 {
            width: 50%;
            align-self: center;
        }
     }

    .statistics {
        width: 99%;
        display: flex;
        
        .stat {
            width: 25%;
            height: 16.70em;
            display: flex;
            align-content: space-between;
                .top {
                    height: 12em;
                    width: 97%;
                    margin-bottom: .4em;
                    justify-content: space-around;

                }
                .bottom {
                    justify-content: space-around;
                    height: 4.2em;
                    .button {
                        text-align: end;                       
                    }
                }
        }
    }
}
.name, .statheader, .button, .split1, .box, .btext, .task, .taskbar, .arrow {
    margin: base.$smallspace;
}
.btext {
    margin-top: 2%;
    font-size: x-large;
}
.name, .statheader, .task, .gcardbot, .blackheader{
    display: flex;
    justify-content: space-between;
}
.name, .smalltext {
    font-size: small;
}
.task {
    font-size: x-small;
    color: base.$mylightgray;
    
}
.bars {
    display: flex;
    justify-content: space-between;
    height: 75%;
        .percent {
            font-size: xx-small;
            background-color: base.$mygreen;
            color: black;
            border-radius: 3px;
            
        }
}
.bar1, .bar2, .bar3, .bar5, .smalltop, .smallbot {
    align-self: flex-end;
    text-align: center;
   
}
.bar2, .bar3, .bar4, .bar5 {
    width: 2em;
    background-color: base.$mygray;
    margin:  0 2px 0 2px;
    border-radius: 7px;
}
.bar2 {
    height: 3em;
}
.bar3 {
    height: 4.5em;
}
.bar5 {
    height: 6em;
}
.plus {
    font-size: small;
}
.bar4 {
    height: 10em;
    background-color: base.$mygreen;
}
.green {
    color: base.$mygreen;
}
.arrow {
    background-color: base.$mygreen;
    color: black;
}
.taskbar {
    width: 89%;
    height: 2px;
    background-color: base.$mygray;
    .greentaskbar {
        width: 80%;
        height: 2px;
        background-color: base.$mygreen;
        }
}
.gray {
    color: base.$mylightgray;
    font-size: x-small;
}
.graph img{
    width: 100%;
    height: 95%;
}
.weekpoints {
    color: base.$mywhite;
    font-size: x-small;
}
.weektext {
    font-size: 5px;
    color: base.$mylightgray;
}
.capsule {
    font-size: 7px;
    width: 7em;
    padding: 1.5%;
    color: base.$myblack;
    background-color: base.$mygreen;
    border-radius: base.$radius;
    display: flex;
    align-self: center;
    justify-content: space-between;
    .blackcapsule {
        color: base.$mygreen;
        padding: 0 .5em;
        background-color: base.$myblack;
        border-radius: base.$radius;
        margin: 0 base.$smallspace 0 base.$smallspace;
    }
}
.box {
    width: 60%;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    .graybox, .greenbox {
            width: 5px;
            height: 5px;
            margin-top: 3%;
            background-color: base.$mylightgray;
            border-radius: 1px;
        }
    .greenbox {
            background-color: base.$mygreen;
        }
}
.stat3 {
    width: 100%;
    height: 33%;
    background-color: base.$myblack;
    border-radius: base.$radius;
    color: base.$mywhite;
}
.botbox, .topbox {
    margin-bottom: 0;
    height: 28%;
}
.midbox {
    height: 40%;
}
.botbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: base.$mygray;
}
.botboxmain {
    width: 70%;
    height: 100%;
    background-color: base.$myblack;
    font-size: smaller;

}
.botboxsmall {
    width: 27%;
    height: 100%;
    .smalltop, .smallbot {
        background-color: base.$myblack;
        height: 48%;
        width: 100%;
    }
    .smallbot {
        background-color: base.$mygreen;
    }
}